@model TrackingSystem.Models.Issue
@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
	<script type="text/javascript">
		SetCurrentTab('issues');
	</script>
}
@Html.Partial("_PageTitle", "Issue details:")
<fieldset>
	<legend>@Html.LabelFor(model => model.Title)</legend>
	<div class="display-field">
		@Html.DisplayFor(model => model.Title)</div>
</fieldset>
<fieldset>
	<legend>@Html.LabelFor(model => model.Description)</legend>
	<div class="display-field">
	@Html.Raw(
			Model.Description
		)
</fieldset>
<fieldset>
	<legend>@Html.LabelFor(model => model.Created)</legend>
	<div class="display-field">
	@Html.DisplayFor(model => model.Created)
</fieldset>
<fieldset>
	<legend>@Html.LabelFor(model => model.AssignedTo.FullName)</legend>
	<div class="display-field">
	@Html.DisplayFor(model => model.AssignedTo.FullName)
</fieldset>
<fieldset>
	<legend>@Html.LabelFor(model => model.Status.Name)</legend>
	<div class="display-field">
	@Html.DisplayFor(model => model.Status.Name)
</fieldset>
<fieldset>
	<legend>Comments</legend>
	@if (Model.Comments.Count() > 0)
	{
		<table>
			@foreach (TrackingSystem.Models.Comment comment in Model.Comments)
			{
				<tr>
					<td>
						<div class="display-field">
							@Html.DisplayFor(model => comment.AddedBy.FullName) on @Html.DisplayFor(model => comment.Created):
						</div>
					</td>
					<td>
						<div class="display-field">
							@Html.Raw(comment.Message)
						</div>
					</td>
				</tr>
			}
		</table>
	}
	else
	{
		<div class="display-field">
			No comments yet
		</div>
	}
</fieldset>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn" })
	@Html.ActionLink("Add Comment", "AddIssueComment", new { id = Model.Id }, new { @class = "btn" })
	@Html.ActionLink("Back to List", "List", null, new { @class = "btn" })
</p>
