@model TrackingSystem.Models.Issue
@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
	<script type="text/javascript">
		SetCurrentTab('issues');
	</script>
}
@Html.Partial("_PageTitle", "Issue details:");
<fieldset>
	<legend>@Html.DisplayFor(model => model.Title)</legend>
	<div class="display-label">
		@Html.LabelFor(model => model.Description)</div>
	<div class="display-field">
		@Html.Raw(
			Model.Description
		)
	</div>
	<br />
	<div class="display-label">
		@Html.LabelFor(model => model.Created)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Created)
	</div>
	<br />
	<div class="display-label">
		@Html.LabelFor(model => model.AssignedTo.FullName)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.AssignedTo.FullName)
	</div>
	<br />
	<div class="display-label">
		@Html.LabelFor(model => model.Status.Name)</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Status.Name)
	</div>
	<br />
	<div class="display-label">
		Comments</div>
	<table>
		@foreach (TrackingSystem.Models.Comment comment in Model.Comments)
  {
			<tr>
				<td>
					<div class="display-field">
						@Html.DisplayFor(model => comment.Created):
					</div>
				</td>
				<td>
					<div class="display-field">
						@Html.Raw(comment.Message)
					</div>
				</td>
			</tr>
  }
	</table>
</fieldset>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn" })
	@Html.ActionLink("Add Comment", "AddIssueComment", new { id = Model.Id }, new { @class = "btn" })
	@Html.ActionLink("Back to List", "List", null, new { @class = "btn" })
</p>
