@model TrackingSystem.Models.Issue
@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
	<script type="text/javascript">
		SetCurrentTab('issues');
	</script>

	var repo = new TrackingSystem.Models.Repository.MsSqlRepository();
}
@Html.Partial("_PageTitle", "Edit issue:")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	
	@Html.HiddenFor(model => model.Id)
	<fieldset>
		<legend>@Html.LabelFor(model => model.Title)</legend>
		
		<div class="editor-field">
			@Html.EditorFor(model => model.Title)
			@Html.ValidationMessageFor(model => model.Title)
		</div>
	</fieldset>
	<fieldset>
		<legend>@Html.LabelFor(model => model.Description)</legend>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.Description, new { cols = 70, rows = 10 })
			@Html.ValidationMessageFor(model => model.Description)
		</div>
	</fieldset>
	<fieldset>
		<legend>@Html.LabelFor(model => model.AssignedTo.FullName)</legend>
		<div class="editor-field">
			@Html.Raw(
				Html.DropDownListFor(model => model.AssignedTo.Id, repo.GetUsers().Select(r =>
				{
					return new SelectListItem() { Text = r.FullName, Value = r.Id.ToString() };
				})).ToHtmlString()
			)
		</div>
	</fieldset>
	<fieldset>
		<legend>@Html.LabelFor(model => model.Status.Name)</legend>
		<div class="editor-field">
			@Html.Raw(
				Html.DropDownListFor(model => model.Status.Id, repo.GetStatuses().Select(r =>
				{
					return new SelectListItem() { Text = r.Name, Value = r.Id.ToString() };
				})).ToHtmlString()
			)
		</div>
	</fieldset>
	<fieldset>
		<legend>@Html.LabelFor(model => model.Priority.Name)</legend>
		<div class="editor-field">
			@Html.Raw(
				Html.DropDownListFor(model => model.Priority.Id, repo.GetPriorities().Select(r =>
				{
					return new SelectListItem() { Text = r.Name, Value = r.Id.ToString() };
				})).ToHtmlString()
			)
		</div>
	</fieldset>
	<fieldset>
		<legend>Comments</legend>
		<div class="editor-field">
			@if (Model.Comments.Count() > 0)
   {
	   foreach (TrackingSystem.Models.Comment comment in Model.Comments)
	   {
					<div class="display-field">
						@Html.DisplayFor(model => comment.AddedBy.FullName) on @Html.DisplayFor(model => comment.Created) : @Html.DisplayFor(model => comment.Message)
						(@Html.ActionLink("delete", "DeleteComment", new { id = comment.Id, issueId = comment.Issue_Id }))
					</div>
	   }
   }
   else
   {
				<div class="display-field">
					No comments yet
				</div>
   }
		</div>
	</fieldset>
	<div>
		<input type="submit" value="Save" class="btn" />
		@Html.ActionLink("Back to List", "List", null, new { @class = "btn" })
	</div>
}
