@model IEnumerable<TrackingSystem.Models.Issue>
@{
	int counter = 0;
	ViewBag.Title = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
	<link href="../../Content/Issues/List.css" rel="stylesheet" type="text/css" />
	<script src="../../Scripts/js/ColumnFilter.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			SetCurrentTab('issues');
		})
	</script>
}

@Html.Partial("_PageTitle", "Issue list:")

<div class="grouping-wrapper">
	Group by:
	@if (ViewBag.GroupPriority == null && ViewBag.GroupAssign == null)
	{
		@Html.ActionLink("None", "List", new { group = "none" }, new { @class = "btn-active" })
	}
	else
	{
		@Html.ActionLink("None", "List", new { group = "none" }, new { @class = "btn" })
	}
	@if (ViewBag.GroupAssign == true)
	{
		@Html.ActionLink("Assigned", "List", new { group = "assign" }, new { @class = "btn-active" })
	}
	else
	{
		@Html.ActionLink("Assigned", "List", new { group = "assign" }, new { @class = "btn" })
	}
	@if (ViewBag.GroupPriority == true)
	{
		@Html.ActionLink("Priority", "List", new { group = "priority" }, new { @class = "btn-active" })
	}
	else
	{
		@Html.ActionLink("Priority", "List", new { group = "priority" }, new { @class = "btn" })
	}
</div>

@Html.Partial("_IssueListFilters")

@if (ViewBag.GroupAssign == true)
{
	var keys = from issue in Model
			   group issue by issue.AssignedTo.FullName into grpKey
			   select grpKey;
	foreach (var key in keys)
	{
		<div class="groupHeader">
			 Assigned to <b>@key.Key:</b>
		</div>
		
		@Html.Partial("_IssueListTable", key)
	}
}
else if (ViewBag.GroupPriority == true)
{
	var keys = from issue in Model
			   group issue by issue.Priority.Name into grpKey
			   select grpKey;
	foreach (var key in keys)
	{
		<div class="groupHeader">
			 <b>@key.Key</b> priority:
		</div>
		
		@Html.Partial("_IssueListTable", key)
	}
}
else
{
	@Html.Partial("_IssueListTable", Model)
}
@if (Session["loggedId"] != null)
{
	<p>
		@Html.ActionLink("Create New", "Add", null, new { @class = "btn" })
	</p>
}
