@model IEnumerable<TrackingSystem.Models.Issue>
@{
	int counter = 0;
	ViewBag.Title = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
	<link href="../../Content/Issues/List.css" rel="stylesheet" type="text/css" />
	<script src="../../Scripts/js/ColumnFilter.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			SetCurrentTab('issues');
		})
	</script>
}

@Html.Partial("_PageTitle", "Issue list:")

@Html.Partial("_IssueListFilters")

<div class="grouping-wrapper">
	@Html.ActionLink("Group by assigned", "List", new { group = "assign" }, new { @class = "btn" })
</div>

@if (ViewBag.GroupAssign == true)
{
	var keys = from issue in Model
			   group issue by issue.AssignedTo.FullName into grpKey
			   select grpKey;
	foreach (var key in keys)
	{
		<div class="groupHeader">
			 Assigned to <b>@key.Key:</b>
		</div>
		
		@Html.Partial("_IssueListTable", key)
	}
}
else
{
	@Html.Partial("_IssueListTable", Model)
}
@if (Session["loggedId"] != null)
{
	<p>
		@Html.ActionLink("Create New", "Add", null, new { @class = "btn" })
	</p>
}
