@model IEnumerable<TrackingSystem.Models.Issue>
@{
	int counter = 0;
	ViewBag.Title = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
	<link href="../../Content/Issues/List.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		$(document).ready(function () {
			SetCurrentTab('issues');

			// column filter
			$('input[type=checkbox]').click(function () {
				var selector = $(this).attr('id');
				if (!$(this).is(':checked'))
					$('td.' + selector + ',th.' + selector).hide(300);
				else
					$('td.' + selector + ',th.' + selector).show(300);
			})
			$('#ShowHideFilterBtn').click(function () {
				var selector = $('.filter-list');
				if (selector.css('display') == 'none')
					selector.show(300);
				else
					selector.hide(300);
			})
			// ------------
		})
	</script>
}
@Html.Partial("_PageTitle", "Issue list:")
<input type="button" id="ShowHideFilterBtn" value="Column Filter" class="btn" />
<ul class="filter-list">
	<li>@Html.CheckBox("RowNumber", true)
		<label for="RowNumber">
			№</label></li>
	<li>@Html.CheckBox("Id", true)
		<label for="Id">
			Id</label></li>
	<li>@Html.CheckBox("Title", true)
		<label for="Title">
			Title</label></li>
	<li>@Html.CheckBox("Description", true)
		<label for="Description">
			Description</label></li>
	<li>@Html.CheckBox("Created", true)
		<label for="Created">
			Created</label></li>
	<li>@Html.CheckBox("Assigned", true)
		<label for="Assigned">
			Assigned</label></li>
	<li>@Html.CheckBox("Status", true)
		<label for="Status">
			Status</label></li>
	<li>@Html.CheckBox("CreatedBy", true)
		<label for="CreatedBy">
			Created by</label></li>
	<li>@Html.CheckBox("LastModified", true)
		<label for="LastModified">
			Last modified</label></li>
	<li>@Html.CheckBox("Priority", true)
		<label for="Priority">
			Priority</label></li>
	@if (Session["loggedId"] != null)
	{
		<li>@Html.CheckBox("Actions", true)
			<label for="Actions">
				Actions</label></li>
	}
</ul>
<div class="issue-list-wrapper">
	<table class="issue-list">
		<tr>
			<th class="RowNumber">
				@Html.ActionLink("№", "List", new { sort = "number" }, null)
			</th>
			<th class="Id">
				@Html.ActionLink("Id", "List", new { sort = "id" }, null)
			</th>
			<th class="Title">
				@Html.ActionLink("Title", "List", new { sort = "title" }, null)
			</th>
			<th class="Description">
				@Html.ActionLink("Description", "List", new { sort = "description" }, null)
			</th>
			<th class="Created">
				@Html.ActionLink("Created", "List", new { sort = "created" }, null)
			</th>
			<th class="Assigned">
				@Html.ActionLink("Assigned", "List", new { sort = "assigned" }, null)
			</th>
			<th class="Status">
				@Html.ActionLink("Status", "List", new { sort = "status" }, null)
			</th>
			<th class="CreatedBy">
				@Html.ActionLink("Created by", "List", new { sort = "createdBy" }, null)
			</th>
			<th class="LastModified">
				@Html.ActionLink("Last modified", "List", new { sort = "lastModified" }, null)
			</th>
			<th class="Priority">
				@Html.ActionLink("Priority", "List", new { sort = "priority" }, null)
			</th>
			@if (Session["loggedId"] != null)
			{
				<th class="Actions">
					Actions
				</th>
			}
		</tr>
		@foreach (var item in Model)
		{
			counter++;
			<tr>
				<td class="RowNumber">
					@counter.ToString()
				</td>
				<td class="Id">
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td class="Title">
					<a href='@Url.Action("Details", new { id = item.Id })'>@Html.DisplayFor(modelItem => item.Title)</a>
				</td>
				<td class="Description">
					@if (item.Description.Length > 128)
					{
						@Html.Raw(
							item.Description.Substring(0, 128) + "..."
						)
					}
					else
					{
						@Html.Raw(
							item.Description
						)
					}
				</td>
				<td class="Created">
					@Html.DisplayFor(modelItem => item.Created)
				</td>
				<td class="Assigned">
					@Html.DisplayFor(modelItem => item.AssignedTo.FullName)
				</td>
				<td class="Status">
					@Html.DisplayFor(modelItem => item.Status.Name)
				</td>
				<td class="CreatedBy">
					@Html.DisplayFor(modelItem => item.CreatedBy.FullName)
				</td>
				<td class="LastModified">
					@Html.DisplayFor(modelItem => item.LastModified)
				</td>
				<td class="Priority">
					@Html.DisplayFor(modelItem => item.Priority.Name)
				</td>
				@if (Session["loggedId"] != null)
				{
					<td class="Actions">
						@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn-action" })
						@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn-action" })
					</td>
				}
			</tr>
  }
	</table>
</div>
@if (Session["loggedId"] != null)
{
	<p>
		@Html.ActionLink("Create New", "Add", null, new { @class = "btn" })
	</p>
}
